body{
background-color: turquoise;
}

div{
height:300px;
width:200px;
background-color:dodgerblue;
border:1px solid black;
color:white;
}

.content{
color: red;
}

.newClass{
background-color:green;
}